[submodule "kernel/libs/limine"]
	path = kernel/libs/limine
	url = https://codeberg.org/Limine/limine-protocol
[submodule "limine"]
	path = limine
	url = https://codeberg.org/Limine/Limine
	branch = v9.x-binary
[submodule "kernel/libs/flanterm"]
	path = kernel/libs/flanterm
	url = https://codeberg.org/mintsuki/flanterm.git
